.movieParent, .actorParent {
  padding: 32px 8px;
  display: flex;
  flex-direction: column;

  .movieBanner {
    .movieImage {
      img {
        border-radius: 2px;
      }
    }
  }

  .actorName {
    margin: 8px 0;
  }

  .yearParent {
    margin: 0 0 16px;
  }

  .genres {
    width: fit-content;
    padding: 4px 8px;
    font-size: 14px;
    border: 0.1125rem #FFC107 solid;
    border-radius: 2px;
    margin-bottom: 8px;
  }

  .actorBirthDate {
    border-left: 2px #FFC107 solid;
    padding-left: 4px;
    margin-bottom: 16px;
    font-size: 14px;
  }

  .actorSummary {
    padding: 16px 0;
    border-bottom: 1px var(--border-color) solid;
    border-top: 1px var(--border-color) solid;
  }

  .actorAwards::before {
    border-left: 2px #FFC107 solid;
    padding-left: 4px;
    content: "Awards: ";
    font-weight: bold;
  }

  .actorAwards {
    padding-bottom: 16px;
    padding-top: 16px;
    border-bottom: 1px var(--border-color) solid;
    border-top: 1px var(--border-color) solid;
  }

  .actorKnownFor {
    padding: 16px 0;

    > span {
      font-weight: bold;
      border-left: 2px #FFC107 solid;
      padding-left: 4px;
      margin-bottom: 8px;
    }
  }

  .castMoviesTable {
    border-radius: 2px;
    margin-top: 16px;
    width: 100%;
    border-collapse: collapse;

    td, th {
      font-size: small;
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }

    tr:hover {
      cursor: pointer;
      color: var(--text-secondary-color);
    }

    tr:nth-child(even) {
      background-color: var(--border-color);
    }
  }

  .casts {
    border-top: 1px var(--border-color) solid;
    padding-top: 16px;

    span {
      font-weight: bold;
      border-left: 2px #FFC107 solid;
      padding-left: 4px;
    }
  }

  .actorMovies {
    display: flex;
    justify-content: flex-start;
    overflow-x: auto;

    .actorMoviesCardContent {
      min-width: 148px;
      max-width: 148px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      margin: 0.5rem;
      padding: 8px;
      border: 1px solid #eaeaea;
      border-radius: 2px;
      cursor: pointer;

      img {
        border-radius: 2px;
      }

      .actorMoviesTitleParent {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
      }

      .actorMoviesTitle, .actorMoviesRole {
        font-size: 14px;
        //margin: 2px auto;
      }
    }

    .actorMoviesCardContent:hover {
      border-color: #FFC107;
      box-shadow: 0 0 4px #FFC107
    }

  }

  .actorMovies::-webkit-scrollbar {
    height: 8px;
  }

  .actorMovies::-webkit-scrollbar-track {
    background: var(--description);
  }

  .actorMovies::-webkit-scrollbar-thumb {
    background: var(--highlight);
  }

  .actorMovies::-webkit-scrollbar-thumb:hover {
    background: var(--text-secondary-color);
  }


  .genres:hover {
    cursor: pointer;
    opacity: .8;
  }

  .director {
    font-size: 1rem;
    margin-top: 8px;
    padding: 16px 0;
    border-bottom: 1px var(--border-color) solid;
    border-top: 1px var(--border-color) solid;

    span {
      border-left: 2px #FFC107 solid;
      padding-left: 4px;
    }
  }

  .releaseDate {
    padding: 16px 0;
    //padding: 16px 0;
    border-bottom: 1px var(--border-color) solid;
  }

  .releaseDate::before {
    content: "Release Date: ";
    //font-weight: bold;
    border-left: 2px #FFC107 solid;
    padding-left: 4px;
  }

  .plot {
    padding: 16px 0;
    margin-top: 0;
    margin-bottom: 32px;
    letter-spacing: 0.03125em;
    text-transform: none;
    border-bottom: 1px var(--border-color) solid;
  }

  .similarMovies {
    h3 {
      border-left: 2px #FFC107 solid;
      padding-left: 4px;
    }

    ul {
      width: fit-content;

      li {
        margin-bottom: 8px;
      }
    }

    a {
      color: var(--text);
      text-decoration: none;
    }

    a:hover {
      text-decoration: underline;
      border-left: 2px #FFC107 solid;
      padding-left: 4px;
    }
  }
}

.moviesActorList {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 4px;
  grid-row-gap: 4px;

  .actorCard {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 8px;
  }

  .actorImageWrapper {
    .actorImage {
      border-radius: 2px;
    }

    .actorImage:hover {
      cursor: pointer;
      opacity: 0.8;
    }
  }

  .actorNameBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 8px;

    .actorName {
      font-weight: bold;
      color: var(--text);
      text-decoration: none;
      cursor: pointer;
      font-size: 1rem;
      -webkit-font-smoothing: antialiased;
      letter-spacing: 0.00937em;
      line-height: 1.25rem;
      text-transform: none;
      margin-bottom: 0.12rem;
      overflow: hidden;
      white-space: pre;
      text-overflow: ellipsis;
    }

    .actorName:hover {
      color: var(--text-secondary-color);
    }

    .actorRoleName {
      color: var(--description);
      font-size: 1rem;
      font-weight: 400;
      letter-spacing: 0.03125em;
      line-height: 1.5rem;
      text-transform: none;
    }

    //.actorRoleNameSmall {
    //  color: var(--description);
    //  font-size: 14rem;
    //  font-weight: 400;
    //  letter-spacing: 0.03125em;
    //  line-height: 1.5rem;
    //  text-transform: none;
    //}
  }
}

.imdbRate {
  margin-right: 2px;
}