.nav {
  height: 50px;
  width: 100%;
  position: relative;
  border-bottom: 1px solid #ddd;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 10;
}

.nav > .nav-header {
  display: inline;
}

.nav > .nav-header > .nav-title {
  display: inline-block;
  padding: 10px 10px 10px 10px;

  a {
    h1 {
      font-weight: bold;
      color: var(--highlight);
      //animation: flow 5s ease-in-out infinite;
      //background: linear-gradient(-60deg,var(--highlight),var(--text));
      //background-clip: text;
      //background-size: 300%;
      //-webkit-background-clip: text;
      //-webkit-text-fill-color: transparent;
    }

    @keyframes flow {
      0% {
        background-position: 0 50%;
      }
      50% {
        background-position: 100% 50%;
      }
      100% {
        background-position: 0 50%;
      }
    }

    h1:hover {
      //color: var(--text);
    }

    .black-title {
      color: var(--text);
    }

    h1:hover .black-title {
      color: var(--highlight);
    }
  }
}

.nav > .nav-btn {
  display: none;
}

.nav > .nav-links {
  display: inline-flex;
  align-items: center;
}

.nav > .nav-links > a {
  display: inline-block;
  padding: 13px 10px 13px 10px;
  text-decoration: none;
  position: relative;
  color: var(--text);
}

.nav > .nav-links > a:hover {
  background-color: rgba(0, 0, 0, 0.70);
  color: #FFC107;
}

.nav > #nav-check {
  display: none;
}

.nav > .nav-links > .dark-mode-control label {
  display: none;
}

@media screen and (max-width: 600px) {
  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 5%;
    top: 15%;
  }

  .nav > .nav-btn > label {
    display: inline-block;
    cursor: pointer;
  }

  .nav > .nav-btn > label:hover, .nav #nav-check:checked ~ .nav-btn > label {
    /*background-color: rgba(0, 0, 0, 0.3);*/
  }

  .nav > .nav-btn > label > span {
    display: block;
    width: 30px;
    height: 3px;
    background: #FFC107;
    margin: 5px;
    /*border-top: 2px solid #FFC107;*/
  }

  .nav > .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: #FFC107;
    height: 0;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0;
    z-index: 1000;
    box-shadow: rgba(50, 50, 93, 0.25) 0 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  }

  .nav > .nav-links > a {
    display: block;
    color: hsl(0, 0%, 10%);
  }

  .nav > .nav-links > a:hover {
    background-color: rgba(0, 0, 0, 0.80);
  }

  .nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0;
  }

  .nav > #nav-check:checked ~ .nav-links {
    height: auto;
    overflow-y: auto;
  }

  .nav > .nav-links > .dark-mode-control {
    padding-left: 8px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  .nav > .nav-links > .dark-mode-control label {
    display: inline;
  }

  .nav > .nav-links > .dark-mode-control > .theme-switch {
    margin: 8px;
  }

}
